.homeConteiner {
    width: 100%;
    padding: 50px 0;
}

.homeConteiner button {


    display: block;
    font-size: 24px;
    width: 90%;
    background-color: #EB3258;
    color: white;
    border: none;
    height: 70px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin: 40px auto 0;

}
.vencedor {
    flex: 1 1 250px;
    max-width: 350px;
    color: white;
    background-color: #2C424D;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    border: 5px dashed #EB3258;
    width: 80%;
}

.vencedor>h1 {
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.vencedor>h1>span{
    display: block;
    color: #EB3258;
}

.vencedor>h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: #FFF;
}

.vencedor>h2>span {
    font-size: 18px;
    display: block;
    color: #EB3258;
}

/* ################################### */




.listBox {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 40px;
}

.restaurantes {
    flex: 1 1 250px;
    max-width: 350px;
    color: white;
    background-color: #2C424D;
    padding: 20px;
    border-radius: 5px;
    margin: 25px;
}

.restaurantes>h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.restaurantes>h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
    color: #FFF;
}

.restaurantes>h2>span {
    font-size: 18px;
    color: #EB3258;
}

/* ####################################################### */

.postBox {
    background-color: #2C424D;
    width: 100%;
    padding: 50px 0;
}
.postBox > div{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
}

.postBox>form {
    background-color: #EB3258;
    width: 400px;
    padding: 70px 50px 35px;
    border-radius: 5px;
    margin: 0 auto;
}

.postBox>form>input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    font-size: 24px;
    color: #897f7f;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.postBox button {
    background-color: #2C424D;
}


@media (max-width: 600px) {
    .postBox>form {
        width: 95%;
        padding: 50px 0 30px;
    }
    .postBox > form > input{
        width: 90%;
    }
}