.footer {
    height: 180px;
    width: 100%;
    background: #1A323E;
    /* bottom: 0;
    position: fixed; */
}

footer div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h2,
h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Itim', cursive;
    line-height: 1.6;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #EB3258;
}

span {
    color: #6F6565;
}