.footer {
    height: 180px;
    width: 100%;
    background: #1A323E;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: auto;
}

.footer h2,
h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Itim', cursive;
    line-height: 1.6;
}

.footer h2 {
    color: #FFFFFF;
}

.footer h3 {
    color: #EB3258;
}

.footer span {
    color: #6F6565;
}